<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="kr.or.ddit.franchise.staff.mapper.StaffFranInvMapper">

	<sql id="searchFrag">
		<trim prefix="AND" >
        	<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(paging.simpleCondition.searchType)
        				and @org.apache.commons.lang3.StringUtils@isNotBlank(paging.simpleCondition.searchWord)">
        		<choose>
        			<when test="paging.simpleCondition.searchType eq 'search'">
						INSTR(P.FRANPROD_NM, #{paging.simpleCondition.searchWord}) > 0
        			</when>
        		</choose>
        	</if>
        </trim>
	</sql>

	<select id="selectStaffFranInvList">
		WITH OTHERSTAFFFRANINV AS (
        SELECT
            I.FIV_ID,
            I.FIV_QY,
            I.FRANCHISE_ID,
            I.FRANPROD_ID,
            P.FRANPROD_NM,
            P.FRANPROD_PC,
            P.FRANPROD_IMAGE
        FROM
            INVENTORY I INNER JOIN FRANPROD P ON (I.FRANPROD_ID = P.FRANPROD_ID)
        WHERE I.FRANCHISE_ID = #{franchiseId}
        <include refid="searchFrag" />
        ORDER BY I.ROWID DESC
        )
    SELECT A.*
        FROM(
        SELECT OTHERSTAFFFRANINV.*, ROWNUM RNUM
        FROM OTHERSTAFFFRANINV
        )A
    WHERE RNUM BETWEEN #{paging.firstRecord} AND #{paging.lastRecord}
	</select>

	<select id="selectTotalRecord">
		SELECT COUNT(*)
		FROM INVENTORY I INNER JOIN FRANPROD P ON (I.FRANPROD_ID = P.FRANPROD_ID)
		WHERE I.FRANCHISE_ID = #{franchiseId}
		<include refid="searchFrag" />
	</select>

</mapper>